.about {
  background: $color-primary-light-3;
  border-radius: $border-radius;
  margin-bottom: -$translate-about-box;
  transform: translateY(-$translate-about-box);
  box-shadow: $shadow-default;
  padding: $box-padding;
  padding-top: 0;
}

.about__text {
  text-align: left;
  padding: 0 5%;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.12);
}
