.contact {
  padding-top: $translate-projects-box;
  background: $color-primary-light;
}

.form {
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  text-align: left;
}

.form__input {
  border-radius: $border-radius;
  outline: none;
  padding: 10px;
  font-family: Roboto;
  border: 1px solid black;
  background: white;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 4px;
}

.form__textarea {
  resize: none;
  height: 250px;
}

.form__button {
  color: $color-text-white;
  border-radius: $border-radius;
  background: none;
  border: 1px solid $color-text-white;
  padding: 10px;
  cursor: pointer;
  margin: 0 auto;
}
