.footer {
  text-align: center;
  background: $color-primary;
  color: $color-text-white;
  padding: 30px 0;
  box-shadow: $shadow-default;
}

.footer__author {
  color: white;
  text-shadow: $text-shadow;
}
