.header {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $color-primary-light;
  box-shadow: $shadow-default;
}

.header__author {
  letter-spacing: 0.15rem;
  font-size: 4.4rem;
}

.header__role {
  color: $color-text-dark;
  font-size: 1.5rem;
}
