.projects {
  color: $color-text-white;
  background: $color-primary-light-3;
  padding: $box-padding;
  border-radius: $border-radius;
  transform: translateY($translate-projects-box);
  margin-top: -$translate-projects-box;
  box-shadow: $shadow-default;
  padding-top: 0;
}

.projects__grid {
  display: grid;
  gap: $box-padding;
  grid-template-columns: repeat(1, 1fr);

  @include breakpoint(570px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project {
  display: flex;
  flex-direction: column;
  height: 200px;
  background-image: url("../imgs/placeholder.png");
  background-size: cover;
  background-position: center;
  box-shadow: $shadow-default;
  border-radius: $border-radius;
}

.project__description {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  flex-grow: 1;
  transition: $transition-time-default;
  background: rgba(0, 0, 0, 0.93);
  color: $color-text-white;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  &:hover {
    opacity: 1;
  }
}

.project__actions {
  text-align: left;
  background: rgba(0, 0, 0, 0.93);
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding: 10px;
}

.project__action {
  transition: $transition-time-default;
  color: $color-text-white;
  font-size: 1.05em;
  margin-right: 10px;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $color-text-white;
  }
}
