.projects__grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}

.project {
  display: flex;
  flex-direction: column;
  height: 200px;
  background-image: url("../imgs/placeholder.png");
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 17px -1px rgba(0, 0, 0, 0.87);
  border-radius: $border-radius;
}

.project__description {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  flex-grow: 1;
  transition: $transition-time-default;
  background: rgba(0, 0, 0, 0.93);
  color: $color-text-white;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  &:hover {
    opacity: 1;
  }
}

.project__actions {
  text-align: left;
  background: rgba(0, 0, 0, 0.93);
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding: 10px;
}

.project__action {
  transition: $transition-time-default;
  color: $color-text-white;
  font-size: 1.05em;
  margin-right: 10px;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $color-text-white;
  }
}
