* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: $color-text-white;
  background-color: $color-white;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
