.skills {
  color: $color-text-black;
}

.skills__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @include breakpoint(700px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.skillset {
  margin-bottom: 32px;
}

.skillset__heading {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.skillset__list {
  display: flex;
  flex-direction: column;
}

.skillset__list__item {
  margin-top: 16px;
}
