//Colors

$color-primary: #0d0e4d;
$color-primary-light: #141550;
$color-primary-light-2: #1a1b55;
$color-primary-light-3: #251e75;

$color-white: #f7f7f7;

$color-text-black: rgba(0, 0, 0, 0.9);
$color-text-white: rgba(255, 255, 255, 0.87);
$color-text-dark: #6a6b8e;

$color-form-background: #ebeef1;

//Shadows

$shadow-default: 2px 2px 17px -1px rgba(0, 0, 0, 0.87);

//Border radius

$border-radius: 10px;

//Transition

$transition-time-fast: 0.1s;
$transition-time-default: 0.3s;

//Box

$translate-about-box: 50px;
$translate-projects-box: 280px;

$box-padding: 25px;

//Section

$section-padding-vertical: 50px;

//Menu

$menu-size: 55px;
$menu-corner-distance: 30px;
$menu-hamburger-bar-distance: 9px;
$menu-hamburger-bar-height: 4px;
$menu-hamburger-bar-border-radius: 5px;

//Navigation

$navigation-size: 360px;

//Other

$max-width: 1280px;
